Routing impossible => Bad request

Hello,
I'm facing a strange behavior with viaroute...
This query:
http://router.project-osrm.org/viaroute?loc=49.1716783,-0.34655726&loc=49.17131276,-0.34673758 
returns `{"status":400,"status_message":"No route found between points"}`
(some other similar requests returns also `{"status":400,"status_message":"Bad request"}`)

I guess it should be:
`{"status":207,"status_message":"Impossible route between points"}`

Another thing: with http://map.project-osrm.org/ when I tried to route these 2 points, it doesn't work too... but if I move the points on a connected road around, and move again the points on the original position, a route is found! This seems to be cause by `hint` parameter.

Fab 

A bump on this issue.

I only learned about this feature of the OSRM 5 API from https://github.com/perliedman/leaflet-routing-machine/issues/302. In my opinion, this seems like a less than perfect error to return if no route can be found.

From [RFC 7231 section 6.5.1](https://tools.ietf.org/html/rfc7231#section-6.5.1):

> 400 Bad Request
>   The 400 (Bad Request) status code indicates that the server cannot or
>  will not process the request due to something that is perceived to be
>   a client error (e.g., malformed request syntax, invalid request
>   message framing, or deceptive request routing).

At least to me, submitting something that is not routable is clearly not a client error - it should be possible for the client to tell from the HTTP status code if it's a malformed request (missing parameters or similar), or just that the coordinates didn't match any existing data on the client.

I would say that 404 is a better code in this case, but I'm not an HTTP/REST expert, so there might be better alternatives.

Updating to v5 API ([link](http://router.project-osrm.org/route/v1/driving/-0.34655726,49.1716783;-0.34673758,49.17131276)):

    http 'http://router.project-osrm.org/route/v1/driving/-0.34655726,49.1716783;-0.34673758,49.17131276'

returns header

> HTTP/1.1 400 Bad Request

payload

```json
{
    "code": "NoRoute", 
    "message": "No route found between points"
}
```

Note that if we want to change this it's breaking the API. I'm tagging this for a potential OSRM 6 release.

Looping in @freenerd for opinion on status codes. I think on the Mapbox Directions side we return 402?

The current state we have adopted on Mapbox Directions is that `NoRoute` is `HTTP 200`. Two reasons:

- Internet Explorer 8 and XDomainRequest  does [not work with well with non-200 HTTP status codes](https://stackoverflow.com/questions/23553911/handle-specific-404-error-and-get-responsetext-with-xdomainrequest-for-ie). Given that IE 0.8 usage is [under 1% now](https://www.w3counter.com/trends), I feel good not caring anymore.
- The request the user is doing is actually a valid request. OSRM can handle it, looks up a route and finds that there is zero. It returns zero routes then. My gut feeling is that `HTTP 404` is more appropriate though, since we could not find a response object for the given input coordinates. I'm good with doing that switch in OSRM 6.